llm_ko_datasets/ko_OpenOrca_gugugo.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_OpenOrca_TowerInstruct.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_MetaMathQA-395K_gugugo.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_MetaMathQA-395K_TowerInstruct.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_python-codes-25k_gugugo.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_python-codes-25k_nllb200.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_MetaMathQA-395K_madlad400.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_OpenOrca_mbart50.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_OpenOrca_madlad400.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_python-codes-25k_TowerInstruct.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_python-codes-25k_mbart50.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_MetaMathQA-395K_nllb200.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_OpenOrca_nllb200.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_MetaMathQA-395K_mbart50.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_python-codes-25k_madlad400.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_conversation_arc_gugugo.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_conversation_arc_madlad400.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_conversation_arc_mbart50.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_conversation_arc_nllb200.jsonl filter=lfs diff=lfs merge=lfs -text
llm_ko_datasets/ko_conversation_arc_TowerInstruct.jsonl filter=lfs diff=lfs merge=lfs -text
llm_datasets/MetaMathQA-395K.jsonl filter=lfs diff=lfs merge=lfs -text
